doctype html
html(lang='es-ES')
	head
		title="Diego Prietto"

		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Sitio Personal')

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

		link(href="font-awesome-4.7.0/css/font-awesome.min.css", rel="stylesheet")

		link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')

		link(href="css/home.css", rel="stylesheet")

	body
		// -	a(href="http://www.argen-tech.com.ar", target="_blank")
					|Construcción y Reparación de Galpones, Techos y Tinglados | Argen-Tech SA

		#cuerpoSuperior
			aside
				//- Falta Contenido
				i.fa.fa-cog.fa-spin(style="font-size: 120px; margin-left: 45px; margin-top: 40px; color: grey")
			#cuerpoDerecho
				header
					.jumbotron
						h1(style="display:none")
							|Bienvenidos a mi sitio personal
						p(style="margin-left: 15px")
							|Éste es un espacio para compartir y agrupar en un solo lugar mis proyectos personales.
						p(style="margin-left: 50px")
							|Éste sitio aún esta bajo desarrollo
							i.fa.fa-warning

				nav
					//- Falta Contenido
				section
					h2 Proyectos Web:

					ul.media-list
						li.media
							.media-left
								a(href="https://www.argen-tech.com.ar", target="_blank")
									img.media-object(src='images/iconoArgentech.ico', alt='Argen-Tech SA')
							.media-body
								h4.media-heading argen-tech.com.ar
								|Construcción y Reparación de Galpones, Techos y Tinglados
								br
								|Argen-Tech SA

					h2 Proyectos No Web:

					ul.media-list

						li.media
							.media-left
								a(href="http://servicio.mercadolibre.com.ar/MLA-674159662-clases-de-html-nivel-inicial-para-desarrollo-de-sitios-web-_JM", target="_blank")
									img.media-object(src='images/iconoClase64.PNG', alt='HTML, CSS y JavaScript')
							.media-body
								h4.media-heading Clases Nivel Inicial de Html para Desarrollo de Sitios Web
								|Introducción a HTML desde lo más básico, y luego se puede continuar la capacitación hasta CSS, JavaScript, JQuery, Bootstrap, FontAwesome, entre otros temas para fortalecer el conocimiento en el desarrollo.

						//-li.media
							.media-left
								a(href="#")
									img.media-object(src='...', alt='ML')
							.media-body
								h4.media-heading Venta de escudos de futbol artesanales
								|Visitalos en ML:
								a(href="#") &nbspBoca,
								a(href="#") &nbspRiver,
								a(href="#") &nbspRacing

				article
					//- Falta Contenido
		footer
			//- Falta Contenido
